.footer {
  width: 100%;
  flex: 0 0 auto;

  font-size: 1rem;

  will-change: transform;

  background-color: $gray_3;

  @include bp($point_2, min) {
    padding: 5.4rem $gl_indent 2.2rem;
  }
  @include bp($point_3) {
    padding: 2.2rem $gl_indent 2.2rem;
  }
}

.footer_in {
  width: 100%;
  max-width: $page_width;
  margin: 0 auto;
}

.footer_top {
  @include bp($point_2, min) {
    margin: 0 0 6.2rem;
  }
  @media (min-width: $point_4) and (max-width: $point_3) {
    margin: 0 0 4.2rem;
  }
  @include bp($point_4 - 1) {
    margin: 0 0 2.2rem;
  }
}

.footer_logo_w {
  display: block;

  @include bp($point_4, min) {
    width: 20.6rem;
    height: 5.8rem;
    margin: 0 0 1.4rem;
  }
  @include bp($point_4 - 1) {
    width: 16.8rem;
    height: 5rem;
    margin: 0 auto 1.4rem;
  }
}

.footer_logo {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer_row {
  @include bp($point_4, min) {
    @include flex_block(row, nowrap, flex-start);
  }
}

.footer_cols {
  @extend %global_flex_block_row_nowrap_flex-start;

  @include bp($point_2, min) {
    margin: 0 -12rem 0 0;
  }
  @media (min-width: $point_4) and (max-width: $point_3) {
    margin: 0 -4rem 0 0;
  }
  @include bp($point_4 - 1) {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.footer_col {
  @include bp($point_2, min) {
    padding: 0 12rem 0 0;
  }
  @media (min-width: $point_4) and (max-width: $point_3) {
    padding: 0 4rem 0 0;
  }
  @include bp($point_4 - 1) {
    width: 100%;
    margin: 0 0 2rem 0;
    text-align: center;

    &:last-child {
      margin: 0;
    }
  }
}

.footer_col_list {
  @include bp($point_4, min) {
    display: block !important;
  }
  @include bp($point_4 - 1) {
    display: none;
    padding: 1rem 0 0;
  }
}

.footer_content {
  @include bp($point_4, min) {
    flex: 1 1 auto;
    padding: 0 2rem 0 0;
  }
  @include bp($point_4 - 1) {
    position: relative;

    flex: 1 1 100%;
    padding: 0 0 2.2rem;
    margin: 0 0 2.2rem;

    text-align: center;

    &::after {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      height: 1px;
      width: 100vw;

      background-color: #979797;
      content: "";
    }
  }
}

.footer_descr,
.footer_col_link,
.footer_link,
.footer_col_title,
.footer_policy_link,
.footer_copy {
  color: $black_2;
}

.footer_descr {
  width: 100%;

  font-size: 1.6rem;
  line-height: 1.9;

  @include bp($point_4, min) {
    max-width: 32.2rem;
    margin: 0 0 2rem;
    font-size: 1.6rem;
  }
  @include bp($point_4 - 1) {
    max-width: 50rem;
    margin: 0 auto 2rem;
    font-size: 1.4rem;
  }
}

.footer_col_title {
  font-weight: 700;
  text-transform: uppercase;

  @include bp($point_4, min) {
    margin: 0 0 1.6rem;

    font-size: 1.6rem;

    pointer-events: none;
  }

  @include bp($point_4 - 1) {
    position: relative;

    display: inline;
    padding: 0 2rem;

    font-size: 1.4rem;
  }

  .icon {
    @include bp($point_4, min) {
      display: none;
    }
    @include bp($point_4 - 1) {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      transform-origin: center;
      transition: transform 0.3s;
    }
  }

  &.show_mod .icon {
    @include bp($point_4 - 1) {
      transform: rotateZ(180deg) translateY(50%);
    }
  }
}

.footer_col_li {
  margin: 0 0 1.2rem;

  &:last-child {
    margin: 0;
  }
}

.footer_col_link {
  @include bp($point_4, min) {
    font-size: 1.6rem;
  }
  @include bp($point_4 - 1) {
    font-size: 1.4rem;
  }
}

.footer_link {
  @extend %global_flex_block_row_wrap_flex-start_center;

  display: inline-flex;
  font-weight: 700;
  font-family: $eina_02;

  @include bp($point_4, min) {
    font-size: 1.6rem;
  }
  @include bp($point_4 - 1) {
    font-size: 1.4rem;
  }

  span {
    @include bp($point_4, min) {
      margin-right: 1rem;
    }
  }

  .icon {
    display: block;

    @include bp($point_4, min) {
      width: 2rem;
      height: 2rem;
    }
    @include bp($point_4 - 1) {
      display: none;
    }
  }
}

.footer_bottom {
  @extend %global_flex_block_row_wrap_flex-start_center;

  position: relative;

  padding: 2.2rem 0 0;

  @include bp($point_4 - 1) {
    text-align: center;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    height: 1px;
    width: calc(100vw - 1.7rem);

    background-color: #979797;
    content: "";
  }
}

.footer_policy {
  @extend %global_flex_block_row_nowrap_flex-start_center;

  @include bp($point_4, min) {
    margin: 0 0 0 auto;
  }
  @include bp($point_4 - 1) {
    margin: 0 auto;
  }
}

.footer_policy_item:not(:last-child) {
  @extend %global_flex_block_row_nowrap_flex-start_center;
  margin: 0 1rem 0 0;

  &::after {
    display: block;

    width: 4px;
    height: 4px;

    background-color: $black_2;
    border-radius: 50%;
    content: "";
  }

  .footer_policy_link {
    margin: 0 1rem 0 0;
  }
}

.footer_policy_link {
  font-size: 1.4rem;
}

.footer_copy {
  font-size: 1.4rem;

  @include bp($point_4 - 1) {
    width: 100%;
    margin: 0 0 1rem;
  }
}
